*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif; }

a {
  color: inherit;
  /* blue colors for links too */
  text-decoration: inherit;
  /* no underline */ }

.content {
  margin-top: 8rem;
  display: flex;
  flex-direction: column;
  row-gap: 7rem; }
  @media only screen and (max-width: 900px) {
    .content {
      margin-top: 6rem; } }
  @media only screen and (max-width: 550px) {
    .content {
      margin-top: 5rem; } }

.section {
  transition: transform 1s, opacity 1s; }

.section--hidden {
  opacity: 0;
  transform: translateY(8rem); }

.heading-primary {
  font-size: 5.5rem;
  font-weight: 900; }
  @media only screen and (max-width: 1000px) {
    .heading-primary {
      font-size: 4.5rem; } }

.heading-secondary {
  font-size: 5rem;
  font-weight: 700; }
  @media only screen and (max-width: 1000px) {
    .heading-secondary {
      font-size: 4rem; } }

.heading-tertiary {
  font-size: 3rem;
  font-weight: 900; }
  @media only screen and (max-width: 1000px) {
    .heading-tertiary {
      font-size: 2.5rem; } }
  @media only screen and (max-width: 820px) {
    .heading-tertiary {
      font-size: 2.2rem; } }

.heading-quaternary {
  font-size: 2.5rem;
  font-weight: 700; }

.paragraph {
  font-size: 2rem;
  font-weight: 400; }
  @media only screen and (max-width: 1000px) {
    .paragraph {
      font-size: 1.9rem; } }
  @media only screen and (max-width: 800px) {
    .paragraph {
      font-size: 1.8rem; } }

.btn {
  border: none;
  background-color: #A43222;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 23px;
  outline: none;
  cursor: pointer;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); }

.input {
  background-color: #FBE6CB;
  font-family: inherit;
  width: 100%;
  border: none;
  margin-top: 8px;
  border-radius: 30px;
  font-weight: 500; }
  .input:focus {
    outline: none; }

li {
  font-size: 1.8rem;
  color: #68411A;
  font-weight: 700; }

.rule {
  color: #68411A;
  background: #68411A;
  width: 3px; }

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: .5rem 3rem;
  border-bottom: 7px #68411A solid;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #FFFFFF;
  z-index: 100; }
  @media only screen and (max-width: 600px) {
    .header {
      padding: .5rem 1rem; } }
  .header__logo {
    width: 20rem; }
    @media only screen and (max-width: 900px) {
      .header__logo {
        width: 15rem; } }

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 10rem;
  list-style: none; }
  @media only screen and (max-width: 1100px) {
    .nav {
      column-gap: 5rem; } }
  @media only screen and (max-width: 900px) {
    .nav {
      column-gap: 3rem; } }
  @media only screen and (max-width: 600px) {
    .nav {
      display: none; } }
  @media only screen and (max-width: 900px) {
    .nav__link {
      font-size: 1.5rem; } }

.tagline {
  width: 100%;
  background-image: url("../img/tagline/bg-wave.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%; }
  .tagline__container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto auto;
    grid-template-areas: "heading image" "description image";
    column-gap: 15%;
    margin: 7rem 20% 15rem 20%; }
    @media only screen and (max-width: 1450px) {
      .tagline__container {
        column-gap: 5%; } }
    @media only screen and (max-width: 1250px) {
      .tagline__container {
        margin: 7rem 10% 15rem 10%; } }
    @media only screen and (max-width: 750px) {
      .tagline__container {
        margin: 7rem 5% 15rem 5%; } }
    @media only screen and (max-width: 550px) {
      .tagline__container {
        grid-template-rows: 10rem auto;
        grid-template-columns: auto;
        grid-template-areas: "heading" "description"; } }
  .tagline__heading {
    grid-area: heading;
    align-self: end;
    color: #FFFFFF;
    margin-bottom: 1.5rem; }
    @media only screen and (max-width: 550px) {
      .tagline__heading {
        align-self: center; } }
  .tagline__description {
    grid-area: description;
    color: #68411A; }
  .tagline__image {
    grid-area: image;
    width: 20rem; }
    @media only screen and (max-width: 1000px) {
      .tagline__image {
        width: 17rem; } }
    @media only screen and (max-width: 700px) {
      .tagline__image {
        width: 15rem; } }
    @media only screen and (max-width: 550px) {
      .tagline__image {
        grid-column: 1/2;
        grid-row: 1/span 1;
        z-index: 10;
        opacity: 0.2;
        justify-self: end; } }

.about-us {
  display: flex;
  justify-content: center;
  flex-shrink: 0; }
  .about-us__container {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "heading-primary heading-primary" "image heading-tertiary" "image paragraph" ". cta";
    width: 80vw;
    row-gap: 4rem;
    column-gap: 10rem; }
    @media only screen and (max-width: 1450px) {
      .about-us__container {
        width: 90vw; } }
    @media only screen and (max-width: 1450px) {
      .about-us__container {
        width: 95vw; } }
    @media only screen and (max-width: 1200px) {
      .about-us__container {
        grid-template-columns: 1fr 3fr;
        column-gap: 5rem; } }
    @media only screen and (max-width: 850px) {
      .about-us__container {
        column-gap: 2rem;
        row-gap: 2rem; } }
    @media only screen and (max-width: 700px) {
      .about-us__container {
        margin: 0rem 2rem;
        grid-template-columns: auto;
        grid-template-areas: "heading-primary" "heading-tertiary" "paragraph" "cta"; } }
  .about-us__heading-primary {
    grid-area: heading-primary;
    color: #68411A;
    justify-self: center;
    margin-bottom: 2rem; }
  .about-us__heading-tertiary {
    grid-area: heading-tertiary;
    color: #68411A; }
  .about-us__image {
    grid-area: image;
    height: 25rem;
    justify-self: end; }
    @media only screen and (max-width: 1000px) {
      .about-us__image {
        height: 20rem; } }
    @media only screen and (max-width: 700px) {
      .about-us__image {
        grid-column: 1/2;
        grid-row: 2/span 2;
        opacity: 30%;
        height: 25rem;
        align-self: center; } }
  .about-us__paragraph {
    grid-area: paragraph; }
  .about-us__cta {
    grid-area: cta;
    justify-self: left; }
    @media only screen and (max-width: 700px) {
      .about-us__cta {
        justify-self: center; } }

.company-values {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8rem;
  background-color: #FBB271;
  border-radius: 38px;
  padding: 3.5rem 5rem;
  margin: 0rem 8rem; }
  @media only screen and (max-width: 1327px) {
    .company-values {
      margin: 0; } }
  @media only screen and (max-width: 1200px) {
    .company-values {
      column-gap: 5rem; } }
  @media only screen and (max-width: 1100px) {
    .company-values {
      column-gap: 3rem; } }
  @media only screen and (max-width: 900px) {
    .company-values {
      padding: 3.5rem 2rem;
      column-gap: 2rem; } }
  @media only screen and (max-width: 800px) {
    .company-values {
      padding: 5% 2rem; } }
  @media only screen and (max-width: 700px) {
    .company-values {
      flex-direction: column;
      row-gap: 5rem;
      padding: 10% 10%; } }
  .company-values__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem; }
  .company-values__heading {
    color: #68411A; }
  .company-values__paragraph {
    text-align: center;
    margin-bottom: 0rem; }
  .company-values__rule {
    height: 30rem; }
    @media only screen and (max-width: 700px) {
      .company-values__rule {
        display: none; } }
  .company-values__logo {
    width: 5rem; }

.career {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .career__heading-career {
    color: #68411A;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 500px) {
      .career__heading-career {
        margin-bottom: 2rem; } }
  .career__heading-join-our-business {
    color: #FFFFFF;
    background-color: #FBB271;
    width: 100%;
    text-align: center;
    margin: 0rem;
    padding: 4rem 0rem;
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
    box-shadow: 0px 10px #F2F2F2; }
    @media only screen and (max-width: 1000px) {
      .career__heading-join-our-business {
        padding: 2rem 3rem; } }
    @media only screen and (max-width: 500px) {
      .career__heading-join-our-business {
        font-size: 3.5rem; } }
    @media only screen and (max-width: 350px) {
      .career__heading-join-our-business {
        font-size: 3rem; } }
  .career__hr {
    color: #FBB271;
    background: #FBB271;
    border: none;
    height: 10px;
    width: 100%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-bottom: 10px; }

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 5rem; }
  .why-us__heading {
    color: #68411A;
    margin-top: 10rem; }
    @media only screen and (max-width: 1000px) {
      .why-us__heading {
        margin-top: 5rem; } }
  .why-us__container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: ". . item-1 item-1 . ." "item-2 item-2 squirrel squirrel item-3 item-3" ". item-4 item-4 item-5 item-5 .";
    align-items: center;
    justify-items: center;
    width: 50vw; }
    @media only screen and (max-width: 1500px) {
      .why-us__container {
        width: 60vw; } }
    @media only screen and (max-width: 1250px) {
      .why-us__container {
        width: 70vw; } }
    @media only screen and (max-width: 1050px) {
      .why-us__container {
        width: 80vw; } }
    @media only screen and (max-width: 890px) {
      .why-us__container {
        width: 90vw; } }
    @media only screen and (max-width: 700px) {
      .why-us__container {
        width: 95vw; } }
    @media only screen and (max-width: 600px) {
      .why-us__container {
        grid-template-columns: auto;
        grid-template-rows: repeat(5, 1fr);
        grid-template-areas: "item-1" "item-2" "item-3" "item-4" "item-5";
        row-gap: 5rem; } }
  .why-us__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    margin: 0rem 3rem; }
    @media only screen and (max-width: 850px) {
      .why-us__item {
        margin: 0rem 1rem; } }
    @media only screen and (max-width: 650px) {
      .why-us__item {
        margin: 0rem; } }
    .why-us__item-1 {
      grid-area: item-1; }
    .why-us__item-2 {
      grid-area: item-2; }
    .why-us__item-3 {
      grid-area: item-3; }
    .why-us__item-4 {
      grid-area: item-4; }
    .why-us__item-5 {
      grid-area: item-5; }
  .why-us__icon {
    height: 6rem; }
  .why-us__description {
    text-align: center;
    color: #68411A; }
  .why-us__squirrel {
    grid-area: squirrel;
    height: 15rem; }
    @media only screen and (max-width: 600px) {
      .why-us__squirrel {
        grid-column: 1/2;
        grid-row: 1/6;
        opacity: 25%;
        height: 50rem;
        overflow: hidden; } }

.faq__header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FBB271;
  border-radius: 27px;
  padding: 4rem 0rem;
  row-gap: 2rem; }
  .faq__header-primary {
    color: #68411A; }
  .faq__header-secondary {
    color: #FFFFFF; }

.faq__input {
  font-size: 16px;
  line-height: 28px;
  padding: 8px 16px;
  width: 50%;
  min-height: 44px;
  border: unset;
  border-radius: 4px;
  outline-color: #5469ff;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
  transition: transform 1s, width .3s; }
  .faq__input:focus {
    width: 55%;
    outline: none; }

.faq__content {
  display: flex;
  margin: 5rem 10%; }
  .faq__content .categories__heading {
    color: #68411A; }
  .faq__content .categories__container {
    list-style: none;
    display: flex;
    flex-direction: column; }
  .faq__content .categories__item {
    color: black;
    margin-top: 2rem;
    cursor: pointer;
    font-weight: 400; }
    .faq__content .categories__item-active {
      font-weight: 900; }
  .faq__content .rule {
    margin-left: 10rem;
    margin-right: 10rem; }
  .faq__content .question-answer__container {
    display: none; }
    .faq__content .question-answer__container-active {
      display: block; }
  .faq__content .question-answer__question {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px; }
    .faq__content .question-answer__question p {
      font-weight: 700;
      color: #68411A;
      margin-left: 5px; }
  .faq__content .question-answer__expand {
    background-color: #FBB271;
    border: none;
    padding: 0rem .5rem;
    font-size: 2rem;
    font-weight: 700;
    color: #FFFFFF;
    cursor: pointer; }
  .faq__content .question-answer__answer {
    display: block;
    line-height: 0;
    overflow: hidden;
    transition: line-height .5s ease; }
    .faq__content .question-answer__answer-active {
      line-height: normal;
      transition: line-height .5s ease;
      margin-bottom: 2rem; }

.contact-us {
  width: 100%;
  background-image: url("../img/contact-us/bg-wave.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 14rem;
  padding-bottom: 5rem; }
  .contact-us__container {
    display: flex;
    flex-direction: column;
    align-items: center; }
  .contact-us__heading {
    color: #68411A; }
    @media only screen and (max-width: 650px) {
      .contact-us__heading {
        margin-top: 5rem; } }
  .contact-us__content {
    margin-top: 5rem;
    display: flex;
    flex-direction: row;
    justify-content: center; }
    @media only screen and (max-width: 650px) {
      .contact-us__content {
        flex-direction: column;
        row-gap: 3rem;
        margin: 2rem 5rem; } }
    .contact-us__content-left {
      flex-basis: 20%; }
      @media only screen and (max-width: 1600px) {
        .contact-us__content-left {
          flex-basis: 30%; } }
      @media only screen and (max-width: 1350px) {
        .contact-us__content-left {
          flex-basis: 35%; } }
    .contact-us__content-rule {
      margin: 0rem 8rem; }
      @media only screen and (max-width: 1350px) {
        .contact-us__content-rule {
          margin: 0rem 4rem; } }
      @media only screen and (max-width: 650px) {
        .contact-us__content-rule {
          width: 100%;
          margin: 0rem; } }
    .contact-us__content-right {
      flex-basis: 35%; }
      @media only screen and (max-width: 1600px) {
        .contact-us__content-right {
          flex-basis: 40%; } }
      @media only screen and (max-width: 1350px) {
        .contact-us__content-right {
          flex-basis: 45%; } }
      @media only screen and (max-width: 1250px) {
        .contact-us__content-right {
          flex-basis: 50%; } }
      @media only screen and (max-width: 1100px) {
        .contact-us__content-right {
          flex-basis: 40%; } }

.address__heading {
  color: #68411A; }

.address__paragraph {
  margin-top: 15px; }

.social-media {
  margin-top: 3rem; }
  .social-media__heading {
    color: #68411A; }
  .social-media__icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px; }
    .social-media__icon img {
      height: 4rem; }

.form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 3rem;
  column-gap: 3rem; }
  @media only screen and (max-width: 1100px) {
    .form {
      display: flex;
      flex-direction: column; } }
  .form__label {
    color: #68411A;
    font-size: 2rem;
    font-weight: 700;
    margin-left: 8px; }
  .form__input {
    padding: 1rem 1.5rem;
    color: #68411A;
    font-size: 1.5rem; }
    .form__input:focus {
      outline: none; }
  .form__comment {
    grid-column: 1 / span 2; }
  .form__textarea {
    padding: 2rem;
    resize: none;
    color: #68411A;
    font-size: 1.5rem; }
  .form__submit {
    width: 15rem; }
    @media only screen and (max-width: 650px) {
      .form__submit {
        width: 100%; } }

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.8rem;
  font-weight: 700;
  padding: 2rem;
  color: #818181; }
  @media only screen and (max-width: 800px) {
    .footer {
      font-size: 1.6rem;
      padding: 1.5rem; } }
  @media only screen and (max-width: 650px) {
    .footer {
      font-size: 1.4rem;
      padding: 1.2rem; } }
  @media only screen and (max-width: 550px) {
    .footer {
      font-size: 1.2rem;
      padding: 1rem; } }
  @media only screen and (max-width: 430px) {
    .footer {
      flex-direction: column;
      align-items: center;
      row-gap: .5rem; } }
  .footer__content-right {
    display: flex;
    flex-direction: row;
    column-gap: 2rem; }
    @media only screen and (max-width: 800px) {
      .footer__content-right {
        column-gap: 1rem; } }
    @media only screen and (max-width: 550px) {
      .footer__content-right {
        column-gap: .5rem; } }
  .footer__rule {
    color: #818181;
    background: #818181; }
