.about-us {
    display: flex;
    justify-content: center;
    flex-shrink: 0;

    &__container {
        display: grid;
        grid-template-columns: 2fr 3fr;
        grid-template-rows: auto auto auto auto;
        grid-template-areas: 
            "heading-primary heading-primary"
            "image heading-tertiary"
            "image paragraph"
            ". cta";
        width: 80vw;
        row-gap: 4rem;
        column-gap: 10rem;

        @media only screen and (max-width: 1450px) {
            width: 90vw;
        }

        @media only screen and (max-width: 1450px) {
            width: 95vw;
        }

        @media only screen and (max-width: 1200px) {
            grid-template-columns: 1fr 3fr;
            column-gap: 5rem;
        }

        @media only screen and (max-width: 850px) {
            column-gap: 2rem;
            row-gap: 2rem;
        }

        @media only screen and (max-width: 700px) {
            margin: 0rem 2rem;
            grid-template-columns: auto;
            grid-template-areas: 
                "heading-primary"
                "heading-tertiary"
                "paragraph"
                "cta";
        }
    }

    &__heading {
        &-primary {
            grid-area: heading-primary;
            color: $color-brown;
            justify-self: center;
            margin-bottom: 2rem;
        }
        &-tertiary {
            grid-area: heading-tertiary;
            color: $color-brown;
        }
    }

    &__image {
        grid-area: image;
        height: 25rem;
        justify-self: end;

        @media only screen and (max-width: 1000px) {
            height: 20rem;
        }

        @media only screen and (max-width: 700px) {
            grid-column: 1/2;
            grid-row: 2/span 2;
            opacity: 30%;
            height: 25rem;
            align-self: center;
        }
    }

    &__paragraph {
        grid-area: paragraph;
    }

    &__cta {
        grid-area: cta;
        justify-self: left;

        @media only screen and (max-width: 700px) {
            justify-self: center;
        }
    }
}