// Color Variables
$color-flesh: #F9BC99;
$color-white: #FFFFFF;
$color-orange: #FBB271;
$color-brown: #68411A;
$color-maroon: #A43222;
$color-grey: #F2F2F2;
$color-grey-dark: #818181;

$font-primary: 'Roboto', sans-serif;

$shadow-bottom: 0px 10px $color-grey;
$shadow-top: 10px 0px $color-grey;

$weight-regular: 400;
$weight-medium: 500;
$weight-bold: 700;
$weight-black: 900;

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
}

body {
    font-family: $font-primary;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

// .container {
//     display: flex;
//     flex-direction: column;
// }

.content {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    row-gap: 7rem;

    @media only screen and (max-width: 900px) {
        margin-top: 6rem;
    }

    @media only screen and (max-width: 550px) {
        margin-top: 5rem;
    }
}

.section {
    transition: transform 1s, opacity 1s;
}

.section--hidden {
    opacity: 0;
    transform: translateY(8rem)
}