.career {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__heading {
        &-career {
            color: $color-brown;
            margin-bottom: 3rem;

            @media only screen and (max-width: 500px) {
                margin-bottom: 2rem;
            }
        }

        &-join-our-business {
            color: $color-white;
            background-color: $color-orange;
            width: 100%;
            text-align: center;
            margin: 0rem;
            padding: 4rem 0rem;
            border-bottom-left-radius: 60px;
            border-bottom-right-radius: 60px;
            box-shadow: $shadow-bottom;

            @media only screen and (max-width: 1000px) {
                padding: 2rem 3rem;
                // font-size: 4rem;
            }

            @media only screen and (max-width: 500px) {
                font-size: 3.5rem;
            }

            @media only screen and (max-width: 350px) {
                font-size: 3rem;
            }
        }
    }

    &__hr {
        color: $color-orange;
        background: $color-orange;
        border: none;
        height: 10px;
        width: 100%;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        margin-bottom: 10px;
    }
}

.why-us {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 5rem;

    &__heading {
        color: $color-brown;
        margin-top: 10rem;

        @media only screen and (max-width: 1000px) {
            margin-top: 5rem;
        }
    }

    &__container {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        ". . item-1 item-1 . ."
        "item-2 item-2 squirrel squirrel item-3 item-3"
        ". item-4 item-4 item-5 item-5 .";
        align-items: center;
        justify-items: center;
        width: 50vw;

        @media only screen and (max-width: 1500px) {
            width: 60vw;
        }

        @media only screen and (max-width: 1250px) {
            width: 70vw;
        }

        @media only screen and (max-width: 1050px) {
            width: 80vw;
        }

        @media only screen and (max-width: 890px) {
            width: 90vw;
        }

        @media only screen and (max-width: 700px) {
            width: 95vw;
        }

        @media only screen and (max-width: 600px) {
            grid-template-columns: auto;
            grid-template-rows: repeat(5, 1fr);
            grid-template-areas: 
            "item-1"
            "item-2"
            "item-3"
            "item-4"
            "item-5";
            row-gap: 5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        margin: 0rem 3rem;
        // margin: 2rem 5.5rem;
        @media only screen and (max-width: 850px) {
            margin: 0rem 1rem;
        }

        @media only screen and (max-width: 650px) {
            margin: 0rem;
        }

        &-1 {
            grid-area: item-1;
        }
        &-2 {
            grid-area: item-2;
        }
        &-3 {
            grid-area: item-3;
        }
        &-4 {
            grid-area: item-4;
        }
        &-5 {
            grid-area: item-5;
        }
    }

    &__icon {
        height: 6rem;
    }

    &__description {
        text-align: center;
        color: $color-brown;
    }

    &__squirrel {
        grid-area: squirrel;
        height: 15rem;

        @media only screen and (max-width: 600px) {
            grid-column: 1/2;
            grid-row: 1/6;
            opacity: 25%;
            height: 50rem;
            overflow: hidden;
        }
        
    }
}