.contact-us {
    width: 100%;
    background-image: url("../img/contact-us/bg-wave.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 14rem;
    padding-bottom: 5rem;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        // margin-top: 20rem 0rem;
    }

    &__heading {
        color: $color-brown;
    }

    &__content {
        margin-top: 5rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        // column-gap: 20rem;

        &-left {
            flex-basis: 20%;
        }

        &-rule {
            margin: 0rem 8rem;
        }

        &-right {
            flex-basis: 35%;
        }
    }
}

.address {
    &__heading {
        color: $color-brown;
    }

    &__paragraph {
        margin-top: 15px;
    }
}

.social-media {
    margin-top: 3rem;
    &__heading {
        color: $color-brown;
    }

    &__icon {
        background-color: transparent;
        border: none;
        cursor: pointer;
        margin-right: 10px;
        margin-top: 10px;

        img {
            height: 4rem;
        }
    }
}

.form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
    column-gap: 3rem;

    &__label {
        color: $color-brown;
        font-size: 2rem;
        font-weight: $weight-bold;
        margin-left: 8px;
    }

    &__input {
        padding: 1rem;

        &:focus {
            outline: none;
        }
    }

    &__comment {
        grid-column: 1 / span 2;
    }

    &__textarea {
        padding: 2rem;
        resize: none;
    }

    &__submit {
        width: 15rem;
    }
}