.faq {

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-orange;
        border-radius: 27px;
        padding: 4rem 0rem;
        row-gap: 2rem;

        &-primary {
            color: $color-brown;
        }

        &-secondary {
            color: $color-white;
        }
    }

    &__content {
        display: flex;
        width: 80%;
        margin: auto;

        .content {
            &__categories {
                .categories {
                    &__heading {
                        color: $color-brown;
                    }

                    &__items {
                        list-style: none;
                        display: flex;
                        flex-direction: column;
                    }

                    &__item {
                        color: black;
                        margin-top: 2rem;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}