.faq {

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-orange;
        border-radius: 27px;
        padding: 4rem 0rem;
        row-gap: 2rem;

        &-primary {
            color: $color-brown;
        }

        &-secondary {
            color: $color-white;
        }
    }

    &__input {
        font-size: 16px;
        line-height: 28px;
        padding: 8px 16px;
        width: 50%;
        min-height: 44px;
        border: unset;
        border-radius: 4px;
        outline-color: rgb(84, 105, 212 / 0.5);
        background-color: rgb(255, 255, 255);
        box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                    rgba(60, 66, 87, 0.16) 0px 0px 0px 1px, 
                    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                    rgba(0, 0, 0, 0) 0px 0px 0px 0px, 
                    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
        transition: transform 1s, width .3s;

        &:focus {
            width: 55%;
            outline: none;
        }
    }

    &__content {
        display: flex;
        margin: 5rem 10%;
        .categories {
            &__heading {
                color: $color-brown;
            }
            &__container {
                list-style: none;
                display: flex;
                flex-direction: column;
            }
            &__item {
                color: black;
                margin-top: 2rem;
                cursor: pointer;
                font-weight: $weight-regular;

                &-active {
                    font-weight: $weight-black;
                }
            }
        }
        .rule {
            margin-left: 10rem;
            margin-right: 10rem;
        }
        .question-answer {
            &__container {
                display: none;

                &-active {
                    display: block;
                }
            }

            &__question {
                display: flex;
                flex-direction: row;
                margin-bottom: 15px;

                p {
                    font-weight: $weight-bold;
                    color: $color-brown;
                    margin-left: 5px;
                }
            }

            &__expand {
                background-color: $color-orange;
                border: none;
                padding: 0rem .5rem;
                font-size: 2rem;
                font-weight: $weight-bold;
                color: $color-white;
                cursor: pointer;
            }

            &__answer {
                display: block;
                line-height: 0;
                overflow: hidden;
                transition: all .5s;
                font-size: 1.75rem;
                color: transparent;

                &-active {
                    line-height: normal;
                    transition: all .5s;
                    margin-bottom: 2rem;
                    overflow: visible;
                    color: black;
                }
            }
        }
    }
}