.faq {

    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $color-orange;
        border-radius: 27px;
        padding: 4rem 0rem;
        row-gap: 2rem;

        &-primary {
            color: $color-brown;
        }

        &-secondary {
            color: $color-white;
        }
    }

    &__content {
        display: flex;
        margin: 5rem 10%;
        .categories {
            &__heading {
                color: $color-brown;
            }
            &__container {
                list-style: none;
                display: flex;
                flex-direction: column;
            }
            &__item {
                color: black;
                margin-top: 2rem;
                cursor: pointer;
                font-weight: $weight-regular;

                &-active {
                    font-weight: $weight-black;
                }
            }
        }
        .rule {
            margin-left: 10rem;
            margin-right: 10rem;
        }
    }
}