.tagline {
    width: 100%;
    background-image: url("../img/tagline/bg-wave.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;

    &__container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
            "heading image"
            "description image";
        column-gap: 15%;
        margin: 7rem 20% 15rem 20%;

        @media only screen and (max-width: 1450px) {
            column-gap: 5%;
        }

        @media only screen and (max-width: 1250px) {
            margin: 7rem 10% 15rem 10%;
        }

        @media only screen and (max-width: 750px) {
            margin: 7rem 5% 15rem 5%;
        }

        @media only screen and (max-width: 550px) {
            grid-template-rows: 10rem auto;
            grid-template-columns: auto;
            grid-template-areas: 
                "heading"
                "description";
        }
    }

    &__heading {
        grid-area: heading;
        align-self: end;
        color: $color-white;
        margin-bottom: 1.5rem;

        @media only screen and (max-width: 550px) {
            align-self: center;
        }
    }

    &__description {
        grid-area: description;
        color: $color-brown;
    }

    &__image {
        grid-area: image;
        width: 20rem;

        @media only screen and (max-width: 1000px) {
            width: 17rem;
        }

        @media only screen and (max-width: 700px) {
            width: 15rem;
        }

        @media only screen and (max-width: 550px) {
            grid-column: 1/2;
            grid-row: 1/span 1;
            z-index: 10;
            opacity: 0.2;
            justify-self: end;
        }
    }
}