.heading-primary {
    font-size: 6rem;
    font-weight: $weight-black;
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: $weight-black;
}

.paragraph {
    font-size: 2rem;
    font-weight: $weight-regular;
}

.btn {
    background-color: $color-maroon;
    color: $color-white;
    font-weight: $weight-bold;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 23px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}