.heading-primary {
    font-size: 5.5rem;
    font-weight: $weight-black;

    @media only screen and (max-width: 1000px) {
        font-size: 4.5rem;
    }
}

.heading-secondary {
    font-size: 5rem;
    font-weight: $weight-bold;

    @media only screen and (max-width: 1000px) {
        font-size: 4rem;
    }
}

.heading-tertiary {
    font-size: 3rem;
    font-weight: $weight-black;

    @media only screen and (max-width: 1000px) {
        font-size: 2.5rem;
    }

    @media only screen and (max-width: 820px) {
        font-size: 2.2rem;
    }
}

.heading-quaternary {
    font-size: 2.5rem;
    font-weight: $weight-bold;
}

.paragraph {
    font-size: 2rem;
    font-weight: $weight-regular;

    @media only screen and (max-width: 1000px) {
        font-size: 1.9rem;
    }
    
    @media only screen and (max-width: 800px) {
        font-size: 1.8rem;
    }
}


.btn {
    border: none;
    background-color: $color-maroon;
    color: $color-white;
    font-weight: $weight-bold;
    font-size: 2rem;
    padding: 1.5rem 2rem;
    border-radius: 23px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

.input {
    background-color: #FBE6CB;
    font-family: inherit;
    width: 100%;
    border: none;
    margin-top: 8px;
    border-radius: 30px;
    font-weight: $weight-medium;

    &:focus {
        outline: none;
    }
}

li {
    font-size: 1.8rem;
    color: $color-brown;
    font-weight: $weight-bold;
}

.rule {
    color: $color-brown;
    background: $color-brown;
    width: 3px;
}